.grogu{
    position: relative;
    left: 92px;
    top: 8px;
  }
  
  .home{
    position: absolute;
    width: 80.9px;
    height: 8.52px;
    left: 853.02px;
    top: 40.55px;
  
    font-family: 'IM FELL French Canon SC';
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    
    color: #FFFFFF;
  }
  
  .about{
    position: absolute;
    width: 80.9px;
    height: 28.1px;
    left: 952.66px;
    top: 40.55px;
  
    font-family: 'IM FELL French Canon SC';
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
   
  color: #FFFFFF;
  }
  
  .grogu2{
    position: absolute;
    width: 84.31px;
    height: 28.1px;
    left: 1069.33px;
    top: 38px;
  
    font-family: 'IM FELL French Canon SC';
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    color: #FFFFFF;
  }
  
  .episodes{
    position: absolute;
    width: 114.97px;
    height: 28.1px;
    left: 1179.19px;
    top: 38px;
  
    font-family: 'IM FELL French Canon SC';
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    color: #FFFFFF;
  }
  
  .linea{
    border-top: 1px solid white;
    height: 2px;
    max-width: 200px;
    padding: 0;
    margin: 20px auto 0 auto;
  }
  
  .mandalorian{
    position: absolute;
    left: 120px;
    top: 375px;
  }
  
  .boton1 {
    box-sizing: border-box;
    position: absolute;
    width: 141.37px;
    height: 51.95px;
    left: 895px;
    top: 535px;
    border: 0.85162px solid #FFFFFF;
    border-radius: 6.81296px;
  }
  
  .boton_play{
    position: absolute;
    width: 78.35px;
    height: 35.77px;
    left: 927px;
    top: 545px;
  }
  
  .about-title{
  position: absolute;
  left: 95.97px;
  top: 790px;
 }

 .style-about{
    position: absolute;
    width: 585px;
    height: 326.91px;
    left: 92.97px;
    top: 978px;
    
    font-family: 'IM FELL French Canon SC';
    font-style: normal;
    font-weight: 400;
    font-size: 21.1305px;
    line-height: 25px;
    color: #FFFFFF;    
 }

 .circulo{
  position: absolute;
  width: 580px;
  height: 565px;
  left: 756.97px;
  top: 841.9px;
  border-radius: 50%;
  background: rgba(159, 127, 46, 0.36);
 }

 .boton2{
  position: absolute;
  width: 237.41px;
  height: 51.41px;
  left: 97.97px;
  top: 1335px;
  border: 0.934688px solid #FFFFFF;
  border-radius: 7.47751px;
 }

 .read-more{
  position: absolute;
  width: 158.9px;
  height: 25.24px;
  left: 119.97px;
  top: 1345px;

 }

 .img-grogu{
  position: absolute;
  left: 983px;
  top: 1563px;
 }

 .style-grogutext{
  position: absolute;
  width: 481.73px;
  height: 114.7px;
  left: 823px;
  top: 1725px;

  font-family: 'IM FELL French Canon SC';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: right;

color: #FFFFFF;
 }