/* HOME SECTION*/

  .grogu{
    position: relative;
    left: 70px;
    top: 8px;
    
  }
  
  .home{
    position: absolute;
    width: 80.9px;
    height: 8.52px;
    left: 790.02px;
    top: 40.55px;
  
    font-family: 'IM FELL French Canon SC';
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    
    color: #FFFFFF;
    
  }
  
  .about{
    position: absolute;
    width: 80.9px;
    height: 28.1px;
    left: 890.66px;
    top: 40.55px;
  
    font-family: 'IM FELL French Canon SC';
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
   
  color: #FFFFFF;
  }
  
  .grogu2{
    position: absolute;
    width: 84.31px;
    height: 28.1px;
    left: 990.33px;
    top: 38px;
  
    font-family: 'IM FELL French Canon SC';
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    color: #FFFFFF;
  }
  
  .episodes{
    position: absolute;
    width: 114.97px;
    height: 28.1px;
    left: 1090.19px;
    top: 38px;
  
    font-family: 'IM FELL French Canon SC';
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    color: #FFFFFF;
  }
  
  .linea{
    position: absolute;
    border-top: 1px solid white;
    height: 2px;
    max-width: 200px;
    padding: 0;
    margin: 20px auto 0 auto;
  }
  
  .mandalorian{
    position: absolute;
    left: 120px;
    top: 375px;
  }
  
  .boton1 {
    box-sizing: border-box;
    position: absolute;
    width: 141.37px;
    height: 51.95px;
    left: 895px;
    top: 535px;
    border: 0.85162px solid #FFFFFF;
    border-radius: 6.81296px;
  }
  
  .boton_play{
    position: absolute;
    width: 78.35px;
    height: 35.77px;
    left: 927px;
    top: 545px;
  }

  /* ABOUT SECTION*/
  
  .about-title{
  position: absolute;
  left: 95.97px;
  top: 820px;
 }

 .style-about{
    position: absolute;
    width: 585px;
    height: 326.91px;
    left: 92.97px;
    top: 978px;
    
    font-family: 'IM FELL French Canon SC';
    font-style: normal;
    font-weight: 400;
    font-size: 21.1305px;
    line-height: 25px;
    color: #FFFFFF;    
 }

 .about-img{
    position: absolute;
    left: 830.86px;
    top: 824px;
    z-index: 999;
}

 .circulo{
  position: absolute;
  width: 560px;
  height: 545px;
  left: 730.97px;
  top: 815.9px;
  border-radius: 50%;
  background: rgba(159, 127, 46, 0.36);
  z-index:1;
 }

 .about-img{
    position: absolute;
    left: 830.86px;
    top: 824px;
}

 .boton2{
  position: absolute;
  width: 237.41px;
  height: 51.41px;
  left: 97.97px;
  top: 1280px;
  border: 0.934688px solid #FFFFFF;
  border-radius: 7.47751px;
 }

 .read-more{
  position: absolute;
  width: 158.9px;
  height: 25.24px;
  left: 119.97px;
  top: 1293px;

 }

 /* GROGU SECTION*/

 .img-grogu{
  position: absolute;
  left: 970px;
  top: 1563px;
 }

 .style-grogutext{
  position: absolute;
  width: 481.73px;
  height: 114.7px;
  left: 790px;
  top: 1725px;

  font-family: 'IM FELL French Canon SC';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: right;

color: #FFFFFF;
 }

 .boton3{
  position: absolute;
  width: 267.32px;
  height: 57.02px;
  left: 1000px;
  top: 1982px;
  border: 0.934688px solid #FFFFFF;
  border-radius: 7.47751px;
 }

 .read-boton3{
  position: absolute;
  width: 179.46px;
  height: 28.04px;
  left: 1030px;
  top: 1997px;

 }

 .IMG-GROGUSECTION{
    position: absolute;
    width: 748.36px;
    height: 530px;
    left: 0px;
    top: 1515px;
   }

 /* EPISODES SECTION*/

 .episodes-titulo{
  position: absolute;
  width: 352.6px;
  height: 88.72px;
  left: 450.98px;
  top: 2447.01px;
 }

 .boton4{
  position: absolute;
  width: 139.36px;
  height: 51.21px;
  left: 618.56px;
  top: 2581.33px;
  border: 0.839523px solid #FFFFFF;
  border-radius: 6.71619px;
 }

 .play-boton4{
  position: absolute;
  width: 77.24px;
  height: 35.26px;
  left: 650px;
  top: 2589.73px;
 }

 .episodes-img1{
  position: absolute;
  width:400px;
  height: 250px;
  left: 0px;
  top: 2155.93px;
   }

 .episodes-img2{
  position: absolute;
  width:400px;
  height: 250px;
  left: 500px;
  top: 2155.93px;
  }
  

 .episodes-img3{
  position: absolute;
  width:400px;
  height: 250px;
  left: 945px;
  top: 2155.93px;
     }

 
 .episodes-titulo{
    position: absolute;
    width: 352.6px;
    height: 88.72px;
    left: 526.98px;
    top: 2447.01px;
   }

  

  /* FOOTER*/

 .footer{
  position: absolute;
  width: 682.53px;
  height: 28.54px;
  left: 330px;
  top: 2795.14px;

  font-family: 'Inter';
  font-style: italic;
  font-weight: 662;
  font-size: 20.9881px;
  line-height: 25px;
  text-align: center;

  color: #FFFFFF;
  font-variation-settings: 'slnt' -10;
 }

 .facebook{
  position: absolute;
  width: 27px;
  height: 25px;
  left: 660px;
  top: 2748px;
 }

 .linkedin{
  position: absolute;
  width: 33px;
  height: 31px;
  left: 730px;
  top: 2745px;

 }

 .instagram{
  position: absolute;
  width: 33px;
  height: 31px;
  left: 570px;
  top: 2745px;
 }
